*{
    margin: 0%;

}


.start{
    background-color:#c2e9eb;
    height:7vh;
    width:100vw;
    padding:0.7%;
}
.one{
    margin-top:0.2%;
    font-size: 15px;
}
.two{
    font-size: 16px;
}
.navbar{
    background-color: white;
    height:-3;

}
.three{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 1%;
    font-weight: normal;
    align-items: center;
    background-color: #fff;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(6,17,118,.08),0 4px 12px rgba(6,17,118,.08);
    
}
.three input{
    padding:1%;
    width:550px;
    border-radius:30px;
    border:1px solid grey;
    
}
.three button{
    /* padding: 0.8% 1.3% 0.8% 1.3%; */
    
    font-weight: bold;
}
.login{
    color:rgb(35, 4, 123);
    background-color: white;
    border:1px solid white;
    border-color: rgb(35, 4, 123);
    border-radius: 5px;
     padding: 0.8% 1.3% 0.8% 1.3%;
    
}
.sign{
    background-color: #6d28d2;
    color: white;
    border: none;
    border-radius:5px ;
     padding: 0.8% 1.3% 0.8% 1.3%;
    
}
.globe{
     padding:0.6% 0.8%  0.6% 0.8%;
   background-color: white;
    border: 1px solid #6d28d2;
    border-radius: 5px;
    
}
.three p{
    font-size: 14px;
    font-style: normal;
    
}
.part1{
    margin-left:6.5%;
    
    
}
.sec{
    position: relative;
    
}
.text{
    
    justify-content: right;

    position: absolute;
    top: 60px;
    left: 160px;
    border: 3px;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 2%;
    width: 25vw;
    
 
}.text h1{
    font-size: 35px;
    margin: 2% 0%;
}
.text p{
    margin: 2% 0%;
    font-size: 18px;
}
.plan{
    border: none;
    padding: 4%;
    margin-top: 2%;
   border-radius: 3px;
    background-color: #6d28d2;
    color:white;
    font-weight: bold;

}
.part12{
    margin-left: 8%;
    margin-top: 2%;
}
.part12 h1{
    font-size: 35px;
}
.part12 p{
   padding: 1%;
   padding:0.5% 0% 0% 0%;
   color: grey;
   font-weight: bold;
   font-size: 20px;
}









/* .labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons span button small{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    margin: 30px 0px 10px 0px;
}
.buttons span button{ */
    /* border: none; */
    /* background-color: #e9eaf2; */
    /* font-size: 40px; */
/* }
.buttons span button:hover{
    background-color: rgb(192, 185, 185);
} */
