* {
    margin: 0%;

}


.start {
    background-color: #c2e9eb;
    height: 7vh;
    width: 100vw;
    padding: 0.7%;
}

.one {
    margin-top: 0.2%;
    font-size: 15px;
}

.two {
    font-size: 16px;
}

.navbar {
    background-color: white;
    height: -3;

}

.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    font-weight: normal;
    align-items: center;
    background-color: #fff;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(6, 17, 118, .08), 0 4px 12px rgba(6, 17, 118, .08);
    padding-bottom: 0.7%;
    padding-top: 0.7%;

}

.three input {
    padding: 1%;
    width: 550px;
    border-radius: 32px;
    border: 1px solid grey;

}

.three button {
    /* padding: 0.8% 1.3% 0.8% 1.3%; */

    font-weight: bold;
}

.login {
    color: rgb(35, 4, 123);
    background-color: white;
    border: 1px solid white;
    border-color: rgb(35, 4, 123);
    border-radius: 5px;
    padding: 0.8% 1.3% 0.8% 1.3%;

}

.sign {
    background-color: #6d28d2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8% 1.3% 0.8% 1.3%;

}

.globe {
    padding: 0.6% 0.8% 0.6% 0.8%;
    background-color: white;
    border: 1px solid #6d28d2;
    border-radius: 5px;

}

.three p {
    font-size: 14px;
    font-style: normal;

}

.part1 {
    margin-left: 6.5%;


}

.sec {
    position: relative;

}

.text {

    justify-content: right;
    position: absolute;
    top: 60px;
    left: 160px;
    border: 3px;
    border: 2px solid #fff;
    background-color: #fff;
    padding: 1.5%;
    width: 25vw;
    border-radius: 3px;


}

.text h1 {
    font-size: 35px;
    margin: 2% 0%;
}

.text p {
    margin: 2% 0%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.plan {
    border: none;
    padding: 4%;
    margin-top: 2%;
    border-radius: 3px;
    background-color: #6d28d2;
    color: white;
    font-weight: bold;

}

.part12 {
    margin-left: 8%;
    margin-top: 2%;
}

.part12 h1 {
    font-size: 35px;
}

.part12 p {
    padding: 1%;
    padding: 0.5% 0% 0% 0%;
    color: grey;
    font-weight: bold;
    font-size: 20px;
}

.section {
    position: relative;

}

.section input {
    width: 40vw;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 2.5%;
    border-color: grey;
}

.section input:hover {
    background-color: #eeeffc;
    ;
}

.section i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 12px;
    pointer-events: none;
}

.career-parent {
    padding: 5%;
}

.career-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: -3%;
    margin-bottom: 10%;


}

.career-card-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;

}

.career-card-item:hover {
    background-color: whitesmoke;
}

.career-card-item img {
    width: 100%;
    border-radius: 10px;
}

.acce1 {
    padding: 0.7%;
    background-color: #fff;
    color: #6d28d2;
    border-color: #6d28d2;
    margin: -40% 0% 0% 5%;
    font-weight: bold;
    border-radius: 3px;

}

.acce {
    margin-top: -12%;
}

.skills {
    margin-top: 2%;
    margin-left: 5%;
}

.skills h1 {
    font-size: 35px;
}

.skills p {
    padding: 1%;
    padding: 0.7% 0% 0% 0%;
    color: grey;
    /* font-weight: bold; */
    font-size: 20px;
}

.seven {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    padding-left: 5%;
    gap: 3%;
    color: gray;
    font-weight: bold;
    font-size: 18px;
}

.seven:hover {
    color: black;
}

.chatgpt-child {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 2.5%;
    gap: 3%;
    padding: 1%;
}

.chatgpt-child button {

    border-radius: 30px;
    border: none;
    padding: 1%;
}

.gpt {
    background-color: #33364a;
    color: white;
}

.gpt1 {
    background-color: #d1d2e05b;
}

.section21 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;


}

.AI {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1%;
    margin-bottom: 10%;
    margin-left: 5%;

}

.section21 img {
    width: 95%;
    border-radius: 10px;
}

.ten10 {
    border: 1px solid RGBA(0, 0, 0, 0.1);
    background-color: #8f8f930b;
}

.course1 {
    padding: 0.7%;
    background-color: #fff;
    color: #6d28d2;
    border-color: #6d28d2;
    margin: -40% 0% 0% 5%;
    font-weight: bold;
    border-radius: 3px;

}

.course {
    margin-top: -6%;
}

.part51 {
    color: grey;
    margin-left: 10%;
    font-weight: bold;

}

.part52 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-left: 2%;
}

.parent521 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;


}

.parent52 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 5%;

}

.parent521 img {
    width: 95%;
    border-radius: 10px;
}

.career-card-item span {
    border: 1px solid grey;
    padding: 0.6%;
    border-radius: 5px;
    color: grey;
}

.vamsi {
    margin-top: 10%;

}

.part5 .part51 {
    margin-top: -2%;

}

.vamsi .parent52 {
    margin-top: 2%;
}

.boy {
    margin-left: 5%;
    margin-top: 8%;
    font-size: 25px;
}


.contain {
    padding: 2%;
    background-color: #f8f4ff;
    display: flex;
    flex-direction: row;
}

.contain h1 {
    margin-bottom: 2%;
    font-size: 35px;
}

.left {
    border: 2px solid #a435f0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 4%;
    width: 80%;
    background-color: #fff;
}

.left:hover {
    background-color: rgb(230, 223, 223);
}

.blocks {
    padding-left: 3%;
    align-items: center;
}

.blocks button {
    margin-top: 3%;
    background-color: white;
    border: none;
    font-weight: bold;
    color: #a435f0;
    padding: 2%;
}

.blocks button:hover {
    background-color: #d0cbd4;
}

.contain2 {
    margin-bottom: 3%;
    border-radius: 10px;
    border-left: 3px solid transparent;
    align-items: center;
}

.left h3 {
    margin-bottom: 8px;
    font-size: 18px;
}

.left p {
    font-size: 16px;
    color: #333;
}

.right {
    align-items: center;
}

.right img {
    margin-left: 10%;
}

/* sreya */
.empty{
    background-color: #6d28d2;
    color: #6d28d2;
    height: 1.5%;
    border-radius: 10px 10px 0px 0px;
}
.sec-1 {
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.heading h1 {
    margin-bottom: 8px;
    font-size: 35px;
}

.heading p {
    font-size: 20px;
    color: grey;
    margin-bottom: 2%;
}

.con {
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 31vw;
    height: 88vh;
    margin-top: 2%;
}

.fir {
    background-color: #f8f4ff;
    padding: 5%;
}

.user span i {
    padding-top: 3%;
    font-size: 12px;
}
.user span{
        color: grey;
}
.cost{
    padding: 6%;
    display: flex;
    flex-direction: column;
}
.con button{
    margin: 4% 0% 7% 0%;
    width: 100%;
    background-color: #6d28d2;
    color: white;
    border: none;
    padding: 4%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
}
.points p{
    padding: 1%;
    color: rgb(61, 59, 59);
}
.points p i{
    font-size: 12px;
}
.labels{
        display: flex;
    flex-direction: row;
    justify-content: space-between
}